ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
a{
    color: #fff;
}
.native-input{
    background-color: transparent !important;
    border: none;
}
input:-internal-autofill-selected{
    background-color: rgba(232, 240, 254, 0) !important;
    background-image: none !important;
    color: -internal-light-dark-color(rgb(255, 255, 255), white) !important;
}