<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button color="success" ><a [routerLink]="[ '/login']">Login</a></ion-button>

    <ion-button color="primary" (click)="loginWithGoogle()">Login Com Google</ion-button>
    <ion-button color="secondary" (click)="logout()">logout</ion-button>
    <br>
    <br>
    <br>
    <ion-button color="secondary" (click)="game()">Jogar</ion-button>

  </div>
</ion-content>
